

.hamburger{

    height: auto;
    width: 100%;
}

.header{
    margin-top: 10px;
    display:flex;
  align-items: center;
  justify-content: space-around;
  background: white;
}

.hamburger_button{
    background-color: #cedeeb;
    border-radius: 50%;
    border: none;
    width: 29px;
    height: 29px;
}

.header_button:hover{
cursor: pointer;
}