.footer{
    background-color: #005b9c;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 15px 0;
}

.social_network{

    display: flex;
    align-items: center;
    justify-content:space-around;
}

.social_network i{
    color: #ffffff;
    font-size: 25px;
    margin-right: 15px;
}

.description{
   
        font-size: 8px;
        font-family: "Montserrat";
        color: rgb(253, 250, 250);
        font-weight: 600;
        line-height: 0.923;
 
      
}